#logo{background-color:#000; margin:0; float:inherit; width:95px; height:78px; float:left}
#pageContent{width:670px; margin-left:100px; font:Arial, Helvetica, sans-serif}
#scytale{"width:250px; height:69px; float:right}
h1{text-align:center; color:#FF0; font-family:'Courier New', Courier, monospace; font-size:24px; letter-spacing:10px; line-height::0.7px; background-image:url(back2.gif); margin:0}